



<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Form elements </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Forms</a></li>
          <li class="breadcrumb-item active" aria-current="page">Form elements</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div *ngIf="checkAction === 0">
              <h4 class="card-title">Add Slider</h4>
            </div>
            <div *ngIf="checkAction === 1">
              <h4 class="card-title">Edit Slider</h4>
            </div>
            <div *ngIf="checkAction === 2">
              <h4 class="card-title">Detail Slider</h4>
            </div>
            <form class="forms-sample" [formGroup]="formAddSlider" (ngSubmit)="submitForm(formAddSlider)">
              <div class="row ">
                <div class="form-group col-lg-6">
                  <label for="exampleInputName1">
                    Title Slider
                    <span class="messError" *ngIf="formAddSlider.get('title')?.touched && formAddSlider.get('title')?.errors?.['required']"> ( không được bỏ trống )</span>
                  </label>
                  <input type="text" formControlName="title" class="form-control" id="exampleInputName1" placeholder="Title Silder">
                </div>
                <div class="form-group col-lg-6">
                  <label for="exampleInputName1">
                    Display No
                    <span class="messError" *ngIf="formAddSlider.get('displayNo')?.touched && formAddSlider.get('displayNo')?.errors?.['required']"> ( không được bỏ trống )</span>
                  </label>
                  <input type="number" formControlName="displayNo" class="form-control" id="exampleInputName1" placeholder="Display No">
                </div>
                </div>
                <div class="form-group col-lg-12 px-0">
                  <label for="exampleInputName1">
                    Content Slider
                    <span class="messError" *ngIf="formAddSlider.get('content')?.touched && formAddSlider.get('content')?.errors?.['required']"> ( không được bỏ trống )</span>
                  </label>
                  <input type="text" formControlName="content" class="form-control" id="exampleInputName1" placeholder="Content Slider">
                </div>
                <ng-container *ngIf="checkAction !== 2">
                  <button
                    type="submit"
                    class="btn btn-primary mr-2"
                    [disabled]="formAddSlider.invalid"
                  >
                    Save
                  </button>
                  <button class="btn btn-dark">Cancel</button>
                </ng-container>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
    </div>
  </footer>
  <!-- partial -->
</div>

