@import url("../../../../../assets/cssAdmin/style.css");
label {
  color: #ffffff;
  font-weight: 500;
}
option {
  color: #ffffff;
}
.main-panel {
  height: 100%;
}
.messError {
  font-size: 13px;
  color: red;
}

.input-group {
  height: 240px;
  border: 2px solid #00d25b;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  border-radius: 5px;
}
.show-image {
  width: 170px;
  height: 190px;
  margin: 0 auto;
  object-fit: cover;
}
.file-upload-info {
  width: 100% !important;
  border: none;
}

.spinner-border {
  z-index: 1000 !important;
  position: absolute;
}
.loadding {
  display: none;
}
.loadding.showok {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.upload-image.detail input {
  display: none;
}
