<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Form elements </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Forms</a></li>
          <li class="breadcrumb-item active" aria-current="page">Form elements</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3">
                <h4 class="card-title">Basic form elements</h4>
                <p class="card-description"> Basic form elements </p>
              </div>
              <div class="col-lg-9 px-0">
                <div class="input-search d-flex">
                  <input _ngcontent-sba-c23="" type="text" placeholder="Search products" class="form-control">
                  <button _ngcontent-qpf-c32="" type="submit" class="btn btn-primary mr-2">Search</button>
                </div>
              </div>
            </div>
            <form class="forms-sample" [formGroup]="formAddRoleUser" (ngSubmit)="submitForm(formAddRoleUser)">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleSelectGender">
                      User
                      <span class="messError" *ngIf="formAddRoleUser.get('userId')?.touched && formAddRoleUser.get('userId')?.errors?.['required']"> ( không được bỏ trống )</span>
                    </label>
                    <select formControlName="userId" class="form-control" id="exampleSelectGender">
                      <option [attr.disabled] ="true" [attr.hidden] = "true" value="">choose user </option>
                      <option value="namhai">Nam Hải</option>
                      <option value="thanhtrung">Thành Chung</option>
                    </select>
                  </div>
                  </div>
                  <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleSelectGender">
                      Role
                      <span class="messError" *ngIf="formAddRoleUser.get('roleId')?.touched && formAddRoleUser.get('roleId')?.errors?.['required']"> ( không được bỏ trống )</span>
                    </label>
                    <select formControlName="roleId" class="form-control" id="exampleSelectGender">
                      <option [attr.disabled] ="true" [attr.hidden] = "true" value="">choose role </option>
                      <option value="11">Quản Trị</option>
                      <option value="12">Nhân Viên</option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mr-2" [disabled]="formAddRoleUser.invalid">Save</button>
              <button class="btn btn-dark">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
    </div>
  </footer>
  <!-- partial -->
</div>
