<div [class]="customStyle ? 'blog__comment__item blog__comment__item--reply mb-5' :'blog__comment__item mb-5'">
  <div class="blog__comment__item__pic">
      <img src="../../../../../assets/img/blog/details/comment-1.jpg" alt="">
  </div>
  <div class="blog__comment__item__text">
      <h6>Brandon Kelley</h6>
      <p>Duis voluptatum. Id vis consequat consetetur dissentiet, ceteros commune perpetua
      mei et. Simul viderer facilisis egimus tractatos splendi.</p>
      <ul>
          <li><i class="fal fa-clock"></i> Seb 17, 2019</li>
          <li><i class="fal fa-heart"></i> 12</li>
          <li><i class="fas fa-share"></i> 1</li>
      </ul>
  </div>
</div>
